// Colors
$c-light: #424958
$c-dark: #3F444F
$c-dark-25: rgba(#3F444F, 0.25)
$c-darker: #323742
$c-darkest: #282C35
$c-darkest-50: rgba(#282C35, 0.50)

// Blue
$c-accent: #1B4C79
$c-accent-light: #21588B
$c-accent-dark: #0F3F6A
// Magical?
// $c-accent: #10465d
// $c-accent-light: #13536f
// $c-accent-dark: #183644

$c-accent-secondary: #1B4C79

// $c-link: #1577D1
$c-link: #1786ED

$c-contrast: #FFFFFF
$c-contrast-dark: #A9A9A9
$c-contrast-slightly-dark: #E4E4E4

// Values
$box-shadow-min: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
$box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px

$transition: .15s cubic-bezier(0.4, 0, 0.2, 1)
$transition-l: .28s cubic-bezier(0.4, 0, 0.2, 1)

// Stuff
$input-padding: 12px
$input-link-list-padding: 15px

$button-padding: $input-padding
