RewriteEngine On

# Skip existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Everything else goes to index.php
# RewriteRule ^ index.php [L]
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]

# Redirects
Redirect /includes /index.php
# Redirect /.sass-cache /index.php
